
<h1>Details for {{data.User.Name}}</h1>

<table>
  <tr>
  <th>Name</th>
  <th>Email</th>
  <th>PhoneNumber</th>
  </tr>

<!--{{data}}  -->
{{data}}
  <tr>
  <td>{{data.Name}}</td>
  <td>{{data.EmailId}}</td>
  <td>{{data.Phone}}</td>
  </tr>
</table>
